# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Codeblocks project files
*.layout
*.depend

#java specific
*.class

#auxiliary Dia files
*~

# Executables
*.exe
*.out
*.app
/quarta/ordinamento/bubbleSortJava/nbproject/private/
/quarta/ordinamento/bubbleSortJava/build/
/quarta/ordinamento/selectionSortJava/nbproject/private/
/quarta/ordinamento/microtime_example/nbproject/private/
/quarta/ordinamento/misura_tempo/nbproject/private/
/quarta/ordinamento/misura_tempo/build/
/quarta/ordinamento/insertionSort/build/
/quarta/ordinamento/insertionSort/nbproject/private/
/quarta/ordinamento/insertionSortAdattativo/build/
/quarta/ordinamento/insertionSortAdattativo/dist/
/quarta/ordinamento/insertionSortAdattativo/nbproject/private/
/quarta/ordinamento/esempi_ricorsione/nbproject/private/
/quarta/ordinamento/esempi_ricorsione/build/
/quarta/ordinamento/quicksort/nbproject/private/
/quarta/ordinamento/quicksort/build/
/quarta/ordinamento/mergesort/nbproject/private/
