# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Codeblocks project files
*.layout
*.depend

#java specific
*.class

#auxiliary Dia files
*~

# Executables
*.exe
*.out
*.app
/quarta/**/nbproject/private/
/quarta/**/build/
/quarta/**/dist/

# Progetti esclusi
/quinta/htdocs/poste/
/quinta/htdocs/tennis/
/quinta/htdocs/ask*
/quarta/gluon/Oroscopo/.nb-gradle/
/quinta/htdocs/supermercato/

# Configurazione presa da https://github.com/kelemen/netbeans-gradle-project/blob/master/.gitignore

/*/nb-configuration.xml
/nbproject/
/*/nbproject/
/*/target/
/*/build/
/netbeans-gradle-default-models/gradle-api/
.gradle/
/.nb-gradle-properties
.nb-gradle/

# Directories left from old Ant project
/build/
/nbproject/private/